a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

body {
	background-color: black;
}

h1 {
	color: #18f533;
	height:100px;
	margin: 25px auto;
	width: 360px;
	line-height: 100px;
	text-align: center;
	font-size: 40px;
	color: #18f533;
}

h2 {
	text-align: center;
	color: white;
	font-size: 20;
}

pre {
	width: 360px;
	margin: 25px auto;
	color: white;
}

.ButtonAnchor {
	display: block;
	width: 360px;
	height: 75px;
	background: #18f533;
	margin: 25px auto;
	line-height: 75px;
	text-align: center;
	font-size: 30px;
	border-radius: 5px;
	color: black;
	font-weight: bold;
}
